{% extends "base.html" %}

{% block content %}
  <style>
    #search-bar {
      display: flex;
      justify-content: center;
      margin: 20px 10px;
    }

    #text {
      width: 40%;
      padding: 10px;
      margin-right: 10px;   
      border-radius: 10px;
      border: 1px solid grey;
    }

    #number {
      width: 10%;
      padding: 10px;
      margin-right: 10px;   
      border-radius: 10px;
      border: 1px solid grey;
    }

    #category {
      width: 10%;
      padding: 10px;
      margin-right: 10px;   
      border-radius: 10px;
      border: 1px solid grey;
      background-color: white;
    }

    /* #search-bar input {
      width: 40%;
      padding: 10px;
    } */

    #search-bar button {
      margin-left: 0px;
      border-radius: 10px;
      border: 1px solid grey;
    }

    .bulk-results {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
      float: left;
      margin-left: 100px;
    }

    .search {
      margin: 5px auto;
      padding: 20px;
      background: white;
    }

    .search-header {
      height: 40px;
    }

    .search-term {
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }

    .search-results {
      display: block;
      width: 600px;
      margin: 0 auto;
      /* grid-template-columns: repeat(3, 100px);
      grid-auto-rows: 150px;
      grid-gap: 20px; */
    }

    .product {
      display: block;
      color: #333;
      background: #fafafa;
      padding: 20px;
      text-decoration: none;
      margin-top: 20px;
    }

    .product-image {
      max-width: 100px;
      max-height: 100px;
      margin-bottom: 10px;
    }

    .product-info {
      display: flex;
      height: 74px;
      overflow: hidden;
    }

    .product-name {
      font-size: 10px;
      margin-right: 10px;
    }

    .product-index {
      margin-right: 20px;
      border: 3px solid grey;
      padding: 30px;
      display: flex;
      align-items: center;
      align-content: center;
      border-radius: 100%;
      color: white;
      background: #000;
    }
  </style>


  <form id="search-bar" action="/search">
    <input id="text" type="text" placeholder="Search.." name="search" value="{{ search_term }}">
    <input id="number" type="number" placeholder="Number of results" name="nor" value="{{number_of_results}}">
    <select id="category" name="category" value="{{category}}">
      <option value="">None</option>
      <option value="doi-song">Doi song</option>
      <option value="thoi-su">Thoi su</option>
    </select>
    <button type="submit"><i class="fa fa-search">Search</i></button>
  </form>
  <div class="all-result"">
  {% for result in products_by_category %}
  <div class="bulk-results">
    {% for category, products in result %}
      <div class="search">
        <div class="search-header">
          <a href="search?search={{category}}" class="search-term">"{{ category }}"</a>
        </div>
        <div class="search-results">
          {% for i, product in products %}
            <a href="/product/{{ product.id }}" class="product">
              <!-- <img class="product-image" src="{{ product.image }}"/> -->
              <div class="product-info">
                <div class="product-index">
                  <h3>{{i}}</h3>
                </div>
                <div>
                  <span><span style="font-weight: bold;">Content: </span>{{product.name}}</span>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
  {% endfor %}
{% endblock %}
